$color-green: #63ad7e;
// $color-green: #47ab6c;
$color-white: white;
$color-light-gray: lightgray;
$color-text-primary: #6e98ba;
$color-dark-blue: #334f70;
$color-app-background: #ffffff97;

// $color-green: black;
// $color-white: white;
// $color-light-gray: #FC3C3C;
// $color-text-primary: #00ADB5;
// $color-dark-blue: #393E46;
// $color-app-background: #F8B500;